<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title>REVIEWERS HEROES</title>
  </head>
  <body>
    <h1>REVIEWERS HEROES</h1>
    <table class="table table-bordered table-active">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Usuário</th>
          <th scope="col">Total de assignees</th>
          <th scope="col">Informações detalhadas</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(function(user){ %>
          <tr class="<%if (user.totalAssignees >= dangerLimitAssignees ) { %>table-danger<% } %>">
            <th scope="row"><img src="<%=user.avatarUrl%>"></th>
            <td><%= user.userName %></td>
            <td><%= user.totalAssignees %></td>
            <td><a href="/details/<%=user.id%>">?</a></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
