<!DOCTYPE html>
<html>
  <head>
    <title>REVIEWERS HEROES</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>REVIEWERS HEROES</h1>
    <% users.forEach(function(user){ %>
      <img src="<%=user.avatarUrl%>"> <%= user.userName %> <%= user.totalAssignees %> <a href="/details/<%=user.id%>">Detalhes</a> <br>
    <% }); %>
  </body>
</html>
